<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themse.css" rel="stylesheet" />
    <link href="~/Content/detail.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor.js" type ="text/javascript"></script>
</head>
<body style="padding-bottom:0">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TEEMMO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sản Phẩm", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tin Tức", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên Hệ", "Create", "Category")</li>
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quản Lý<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("ListProtductModel","Admin")">Loại Sản Phẩm</a></li>
                                    <li><a href="@Url.Action("ListArticleCategory","Admin")">Loại Tin Tức</a></li>
                                    <li><a href="@Url.Action("ListProductManager","Admin")">Sản Phẩm</a></li>
                                    <li><a href="@Url.Action("ListArticleManager","Admin")">Tin Tức</a></li>
                                    <li role="separator" class="divider"></li>

                                </ul>
                            </li>

                        </ul>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
        <div class="pull-right">
           @{ Html.RenderAction("GetShppingCart", "Cart");}
        </div>
        @RenderBody()
       
     
    
    <footer>
        <div class="footer-container">
            <div class="first-footer-area footer-area">
                <div class="fix-column-no-margin clearfix">
                    <div class="col-sm-4 hrv_sp">
                        <div class="hrv_sp-icon">
                            <img alt="" src="/assets/100001/img/support_img_1.png?v=5676">
                        </div>
                        <div class="hrv_sp-text">
                            <h4>24/7</h4>
                            <p>Hỗ trợ miễn phí</p>
                        </div>
                    </div>

                    <div class="col-sm-4 hrv_sp block-feature-middle">
                        <div class="hrv_sp-icon">
                            <img alt="" src="/assets/100001/img/support_img_2.png?v=5676">
                        </div>
                        <div class="hrv_sp-text">
                            <h4>100% hoàn tiền</h4>
                            <p>Bảo hành</p>
                        </div>
                    </div>

                    <div class="col-sm-4 hrv_sp">
                        <div class="hrv_sp-icon">
                            <img alt="" src="/assets/100001/img/support_img_3.png?v=5676">
                        </div>
                        <div class="hrv_sp-text">
                            <h4>Miễn phí shipping</h4>
                            <p>Trên 5 đơn hàng</p>
                        </div>
                    </div>
                </div>
                <!--Kết thúc support-->
                <div class="container">
                    <div class="ts-footer-block clearfix row">
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <div class="wpb_content_element">
                                <h3 class="widget-title heading-title">
                                    <span>Về ch&#250;ng t&#244;i</span>
                                </h3>
                                <ul class="no-padding">
                                    <li>
                                        <a href="/gioi-thieu.html">
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/content/giao-hang-doi-tra.html">
                                            Giao h&#224;ng - Đổi trả
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/content/chinh-sach-bao-mat.html">
                                            Ch&#237;nh s&#225;ch bảo mật
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/lien-he.html">
                                            Li&#234;n hệ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <div class="wpb_content_element">
                                <h3 class="widget-title heading-title">
                                    <span>Trợ gi&#250;p</span>
                                </h3>
                                <ul class="no-padding">
                                    <li>
                                        <a href="/content/huong-dan-mua-hang.html">
                                            Hướng dẫn mua h&#224;ng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/content/huong-dan-thanh-toan.html">
                                            Hướng dẫn thanh to&#225;n
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/content/tai-khoan-giao-dich.html">
                                            T&#224;i khoản giao dịch
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <div class="wpb_content_element">
                                <section class="ts-social-icons">
                                    <h3 class="widget-title heading-title">Kết nối với chúng tôi</h3>
                                    <div class="social-icons style-3">
                                        <ul class="list-icons">
                                            <li>
                                                <a title="" class="facebook">
                                                    <i class="fa fa-facebook"></i>
                                                    <span class="ts-tooltip social-tooltip">Facebook</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a title="" target="_blank" class="twitter">
                                                    <i class="fa fa-google-plus"></i>
                                                    <span class="ts-tooltip social-tooltip">Google Plus</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a title="" target="_blank" class="google-plus">
                                                    <i class="fa fa-twitter"></i>
                                                    <span class="ts-tooltip social-tooltip">Twitter</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="" target="_blank" href="https://www.flickr.com/" class="flickr">
                                                    <i class="fa fa-flickr"></i>
                                                    <span class="ts-tooltip social-tooltip">Flickr</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <h3 class="widget-title heading-title">Hãy đến với chúng tôi</h3>
                            <div class="block_content">
                                <div class="block_content">
                                    <div class="sns-facebook" id="sns_facebook_16999696191449829151">
                                        <div id="fb-root">
                                            <div style="overflow-x : hidden;" class="facebook-fanbox">
                                                <div data-show-border="false" data-width="262" data-stream="false" data-header="false" data-show-faces="true" data-colorscheme="light" data-href="https://www.facebook.com/runtime.vn" class="fb-like-box">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        jQuery(document).ready(function () {
                                            initfb(document, 'script', 'facebook-jssdk');
                                        });
                                        function initfb(d, s, id) {
                                            var js, fjs = d.getElementsByTagName(s)[0];
                                            if (d.getElementById(id))
                                                return;
                                            js = d.createElement(s); js.id = id;
                                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=334341610034299";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                        <span class="vc_sep_line col-lg-12 col-md-12 col-sm-12 col-xs-12"></span>
                    </div>
                </div>
            </div>
            <div class="end-footer footer-area">
                <div class="container">
                    <div class="ts-footer-col">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="wpb_content_element ">
                                <p>Copyright &copy; 2016 Big Market.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="wpb_content_element ">
                                <p><img alt="" src="/assets/100001/img/payment-logo.png?v=5676" class="alignright"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
