@model IEnumerable<TheGioiCongNghe.Models.Article_manager>

@{
    ViewBag.Title = "ListArticleManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h2">
    <h2>Danh Mục Tin Tức</h2>
</div>
<p>
    @Html.ActionLink("Create New", "CreateArticleManager")
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article_Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cat_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditArticleManager", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailArticleManager", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteArticleManager", new { id = item.Id })
            </td>
        </tr>
    }

</table>
